<nav class="govuk-!-padding-bottom-6" aria-labelledby="side-navigation-label">
  <h2 class="govuk-heading-m" id="side-navigation-label">Admin menu</h2>
  <ul class="govuk-list govuk-navigation-list">
    {% set navItems = [
      {
        "title": "Status",
        "url": "/admin/status",
        "id": "status",
        "children": [
          { "title": "API", "url": "/admin/status/#api" },
          { "title": "Portal", "url": "/admin/status/#portal" },
          { "title": "MediaKind", "url": "/admin/status/#mediaKind" },
          { "title": "CVP", "url": "/admin/status/#cvp" }
        ]
      },
      { "title": "MediaKind live events", "url": "/admin/MK-live-events", "id": "live-events" },
      { "title": "Audit", "url": "/admin/audit", "id": "audit" },
      { "title": "Users", "url": "/admin/users", "id": "users" }
    ] %}

    {% for item in navItems %}
        {# Check if the parent is active (if pageUrl starts with item.url) #}
        {% set isActive = item.url in pageUrl %}

        {# Check if any sub-item is active #}
        {% for subItem in item.children or [] %}
            {% set isActive = item.url in pageUrl %}
        {% endfor %}

        <li class="govuk-navigation-list__item {% if isActive %}govuk-navigation-list__item--active {% endif %}"">
          <a class="govuk-link {% if isActive %}govuk-navigation-list__link--active{% endif %}"
             href="{{ item.url }}"
             aria-current="{% if isActive %}page{% else %}false{% endif %}">
            {{ item.title }}
          </a>

          {# Show sub-items if the parent or any sub-item is active #}
          {% if item.children and isActive %}
            <ul class="govuk-list govuk-navigation-list govuk-!-margin-left-4">
              {% for subItem in item.children %}
                {% set isSubItemActive = subItem.url in pageUrl %}
                <li class="govuk-navigation-list__item">
                  <a class="govuk-link {% if isSubItemActive %}govuk-navigation-list__link--active{% endif %}"
                     href="{{ subItem.url }}"
                     aria-current="{% if isSubItemActive %}page{% else %}false{% endif %}">
                    {{ subItem.title }}
                  </a>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        </li>
    {% endfor %}
  </ul>
</nav>
