@import 'govuk-frontend';

.video-wrapper {
  border: 4px solid $govuk-input-border-colour;
  margin-bottom: 30px;
  padding: 4px;
  position: relative;
}

.govuk-notification-banner--success {
  display: none;
}

.loading-gif {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.loading-box {
  aspect-ratio: 16 / 9;
  border: 4px solid $govuk-input-border-colour;
  width: 100%;

  img {
    width: 100px;
  }
}

.loading-container {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.terms-box {
  max-height: 300px;
  overflow-y: auto;
  padding: 15px;
  font-size: 0.9em;
}

.terms-text ol ol {
  list-style-type: lower-alpha;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
