@import 'govuk-frontend';

.video-wrapper {
  position: relative;
  border: 4px solid $govuk-input-border-colour;
  margin-bottom: 30px;
  padding: 4px;
}

.govuk-notification-banner--success {
  display: none;
}

.loading-gif {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
