{% extends "template.njk" %}

{% block pageTitle %}Terms and Conditions - PRE Portal{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form id="termsForm" action="/accept-terms-and-conditions" method="post">
        <div class="govuk-form-group">
          <h1 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--l" for="terms-text">
              Pre-Recorded Evidence (PRE) Service
            </label>
          </h1>

          <div class="govuk-textarea terms-text terms-box" id="terms-text">
            {{ terms|safe }}
          </div>
        </div>

        <div class="govuk-form-group govuk-form-group--error">
          <fieldset class="govuk-fieldset" aria-describedby="terms-hint terms-error">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Acceptance of Terms &amp; Conditions
              </h1>
            </legend>
            <p id="terms-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span> To continue you must accept the Terms &amp; Conditions
            </p>
            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="terms" name="terms" type="checkbox" value="accept" aria-describedby="terms-item-hint">
                <label class="govuk-label govuk-checkboxes__label" for="terms">
                  I declare that I am fully aware of my responsibilities in relation to
                  the use of the Service as set out in the above Terms &amp; Conditions.
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        <button type="submit" class="govuk-button" data-module="govuk-button">
          Continue
        </button>

        <input type="hidden" name="termsId" value="{{ termsId }}">
      </form>
    </div>
    </div>
  </div>

{% endblock %}
