{% from "govuk/components/pagination/macro.njk" import govukPagination %}

{% extends "template.njk" %}

{% block pageTitle %}{{ title }} - PRE Portal{% endblock %}

{% block beforeContent %}
  {{
    govukBackLink({
      "text": "Sign out",
      "href": "/logout"
    })
  }}
{% endblock %}
{% block content %}
    <h1 class="govuk-heading-xl">Admin Page</h1>
 {% endblock %}
