{% from "govuk/components/pagination/macro.njk" import govukPagination %}

{% extends "template.njk" %}

{% block pageTitle %}{{ title }} - PRE Admin Portal{% endblock %}

{% block beforeContent %}
  {{
    govukBackLink({
      "text": "Sign out",
      "href": "/logout"
    })
  }}
{% endblock %}

{% block head %}
  {{ super() }}
  <meta http-equiv="refresh" content="300">
{% endblock %}

{% block content %}
    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive">Please note</span>
        playback is preferred on non-mobile devices. If possible, please use a
        preferred device.
      </strong>
    </div>

    <h2 class="govuk-heading-m">
      {{ title }}
    </h2>
    <div style="overflow-x: auto; width: 100%;">
      <table class="govuk-table">
        <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header" style="position: sticky; left: 0; z-index: 1; background-color: #ffffff;">ID</th>
          <th scope="col" class="govuk-table__header">Table Name</th>
          <th scope="col" class="govuk-table__header">Table Record ID</th>
          <th scope="col" class="govuk-table__header">Source</th>
          <th scope="col" class="govuk-table__header">Category</th>
          <th scope="col" class="govuk-table__header">Activity</th>
          <th scope="col" class="govuk-table__header">Functional Area</th>
          <th scope="col" class="govuk-table__header">Created By</th>
          <th scope="col" class="govuk-table__header">Created At</th>
          <th scope="col" class="govuk-table__header">Audit Details</th>
        </tr>
        </thead>
        {% if auditLogs.length === 0 %}
          <tbody
            class="govuk-table__body"
            data-testid="no-data-message">
          <td>No audit logs found.</td>
          </tbody>
        {% else %}
          <tbody class="govuk-table__body">
          {% for auditLog in auditLogs %}
            <tr
              class="govuk-table__row"
              id="audit-{{ auditLog.id }}">
              <td class="govuk-table__cell" style="position: sticky; left: 0; z-index: 1; background-color: #ffffff;">
                {{ auditLog.id }}
              </td>
              <td class="govuk-table__cell">
                {{ auditLog.table_name }}
              </td>
              <td class="govuk-table__cell">
                {{ auditLog.table_record_id }}
              </td>
              <td class="govuk-table__cell">
                {{ auditLog.source }}
              </td>
              <td class="govuk-table__cell">
                {{ auditLog.category }}
              </td>
              <td class="govuk-table__cell">
                {{ auditLog.activity }}
              </td>
              <td class="govuk-table__cell">
                {{ auditLog.functional_area }}
              </td>
              <td class="govuk-table__cell">
                {{ auditLog.created_by }}
              </td>
              <td class="govuk-table__cell">
                {{ auditLog.created_at }}
              </td>
              <td class="govuk-table__cell">
                {{ auditLog.audit_details }}
              </td>
            </tr>
          {% endfor %}
          </tbody>
        {% endif %}
      </table>
    </div>
    {% if paginationLinks.items.length > 1 %}
      <div style="display: flex; justify-content: center;">
        {{ govukPagination(paginationLinks) }}
      </div>
    {% endif %}

{% endblock %}
