{% extends "template.njk" %}

{% block beforeContent %}
  {{
    govukBackLink({
      "text": "Sign out",
      "href": "/sign-out"
    })
  }}
{% endblock %}

{% block content %}
    <h1 class="govuk-heading-xl">Welcome back Test User</h1>

    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive">Please note</span>
        playback is preferred on non-mobile devices. If possible, please use a
        preferred device.
      </strong>
    </div>

    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m">
        Recordings shared with you
      </caption>
      <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Case Ref</th>
        <th scope="col" class="govuk-table__header">Court</th>
        <th scope="col" class="govuk-table__header">Date</th>
        <th scope="col" class="govuk-table__header">Witness</th>
        <th scope="col" class="govuk-table__header">Defendants</th>
        <th scope="col" class="govuk-table__header">Version</th>
        <th scope="col" class="govuk-table__header"></th>
      </tr>
      </thead>
{#      <tbody#}
{#        class="govuk-table__body"#}
{#        *ngIf="recordingData.length === 0"#}
{#        data-testid="no-data-message">#}
{#      <td>No records found.</td>#}
{#      </tbody>#}
      <tbody class="govuk-table__body" *ngIf="recordingData.length > 0">
      <tr
        class="govuk-table__row"
        id="rowData.recordingId">
        <td class="govuk-table__cell">
          Example Ref
        </td>
        <td class="govuk-table__cell">
          Example Court
        </td>
        <td class="govuk-table__cell">
          20/02/2024
        </td>
        <td class="govuk-table__cell">
          Person 1
        </td>
        <td class="govuk-table__cell">
          Person 2<br />
          Person 3<br />
          Person 4<br />
        </td>
        <td class="govuk-table__cell">
          1
        </td>
        <td class="govuk-table__cell">
          <a class="govuk-link" href="/watch/anything">Play</a>
        </td>
      </tr>
      </tbody>
    </table>

{% endblock %}
