{% from "govuk/components/pagination/macro.njk" import govukPagination %}

{% extends "template.njk" %}

{% block pageTitle %}{{ title }} - PRE Portal{% endblock %}

{% block beforeContent %}
  {{
    govukBackLink({
      "text": "Sign out",
      "href": "/logout"
    })
  }}
{% endblock %}

{% block head %}
  {{ super() }}
  <meta http-equiv="refresh" content="300">
{% endblock %}

{% block content %}
    <h1 class="govuk-heading-xl">Welcome back, {{ user.name }}</h1>

    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive">Please note</span>
        playback is preferred on non-mobile devices. If possible, please use a
        preferred device.
      </strong>
    </div>

    <h2 class="govuk-heading-m">
      {{ title }}
    </h2>
    <div style="overflow-x: auto; width: 100%;">
      <table class="govuk-table">
        <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header" style="position: sticky; left: 0; z-index: 1; background-color: #ffffff;">Case Ref</th>
          <th scope="col" class="govuk-table__header">Court</th>
          <th scope="col" class="govuk-table__header">Date</th>
          <th scope="col" class="govuk-table__header">Witness</th>
          <th scope="col" class="govuk-table__header">Defendants</th>
          <th scope="col" class="govuk-table__header">Version</th>
          <th scope="col" class="govuk-table__header"></th>
        </tr>
        </thead>
        {% if recordings.length === 0 %}
          <tbody
            class="govuk-table__body"
            data-testid="no-data-message">
          <td>No records found.</td>
          </tbody>
        {% else %}
          <tbody class="govuk-table__body">
          {% for recording in recordings %}
            <tr
              class="govuk-table__row"
              id="recording-{{ recording.id }}">
              <td class="govuk-table__cell" style="position: sticky; left: 0; z-index: 1; background-color: #ffffff;">
                {{ recording.case_reference }}
              </td>
              <td class="govuk-table__cell">
                {{ recording.capture_session.court_name }}
              </td>
              <td class="govuk-table__cell">
                {{ recording.capture_session.started_at | formatDate }}
              </td>
              <td class="govuk-table__cell">
                {% for participant in recording.participants %}
                  {% if participant.participant_type == "WITNESS" %}
                    {{ participant.first_name }} {{ participant.last_name }}<br />
                  {% endif %}
                {% endfor %}
              </td>
              <td class="govuk-table__cell">
                {% for participant in recording.participants %}
                  {% if participant.participant_type == "DEFENDANT" %}
                    {{ participant.first_name }} {{ participant.last_name }}<br />
                  {% endif %}
                {% endfor %}
              </td>
              <td class="govuk-table__cell">
                {{ recording.version }}
              </td>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="/watch/{{ recording.id }}">Play</a>
              </td>
            </tr>
          {% endfor %}
          </tbody>
        {% endif %}
      </table>
    </div>
    <div style="display: flex; justify-content: center;">
      {{ govukPagination(paginationLinks) }}
    </div>

{% endblock %}
