{% extends "template.njk" %}

{% block pageTitle %}Help - PRE Portal{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">Help</h1>
  <p class="govuk-body">Please follow instructions in the user guide provided in the Portal invitation email.</p>
  <p class="govuk-body">If you require further assistance, please contact support on 0300 323 0194 between the hours of 08:00 and 18:00 weekdays, or 08:30 and 14:00 Saturday.</p>
{% endblock %}
