{% extends "template.njk" %}

{% block pageTitle %}Terms and Conditions - PRE Portal{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-body terms-text">{{ terms|safe }}</p>
    </div>
  </div>

{% endblock %}
