{% extends "template.njk" %}

{% block pageTitle %}Terms and Conditions - PRE Portal{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body">{{ terms }}</p>
    </div>
  </div>

{% endblock %}
