<script src="/main-dev.js"></script>
<script>
console.log('loaded js.njk');
document.addEventListener('DOMContentLoaded', function(event) {
  console.log('DOMContentLoaded', event);
  updateCookiesBanner(event);
});

function setCookies(event) {
  event.preventDefault();

  const clickedButton = event.submitter;
  const cookieValue = clickedButton.value;
  const cookieName = clickedButton.name;

  if (cookieName === 'resetCookies') {
    document.cookie = 'hideCookiesBanner=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/; secure; samesite=strict';
    document.cookie = 'analyticsCookies=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/; secure; samesite=strict';
    updateCookiesBanner(event);
    location.replace(window.location.href + '#analyticsCookiesForm');
    return;
  }

  let expiresDate = new Date();
  expiresDate.setFullYear(expiresDate.getFullYear() + 1);

  document.cookie = `${cookieName}=${cookieValue}; path=/; expires=${expiresDate.toUTCString()}; secure; samesite=strict`;

  updateCookiesBanner(event);
}

function updateCookiesBanner(event) {
  const analyticsCookiesForm = document.getElementById('analyticsCookiesForm');
  const hideCookiesForm = document.getElementById('hideCookiesForm');

  const cookies = document.cookie.split('; ').reduce((result, cookie) => {
    const [name, value] = cookie.split('=');
    result[name] = value;
    return result;
  }, {});

  if (cookies['hideCookiesBanner']) {
    hideCookiesForm.style.display = 'none';
  } else {
    hideCookiesForm.style.display = 'block';
  }

  if (cookies['analyticsCookies']) {
    analyticsCookiesForm.style.display = 'none';
  } else {
    analyticsCookiesForm.style.display = 'block';
    hideCookiesForm.style.display = 'none';
  }
}
</script>
