{% from "govuk/components/pagination/macro.njk" import govukPagination %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}
{% extends "template.njk" %}

{% block pageTitle %}{{ title }} - PRE Portal{% endblock %}
 {% block main %}
       <div class="full-width-container">
{% block beforeContent %}
<div class="govuk-grid-row admin-container">
  {{
    govukBackLink({
      "text": "Sign out",
      "href": "/logout"
    })
  }}
  </div>
   {% endblock %}
   {% block content %}

 <div class="govuk-grid-row admin-container">

       <nav class="govuk-grid-column-one-quarter side-navigation">
         {% include "components/side-navigation.njk" %}
       </nav>

    <main class="govuk-grid-column-three-quarters govuk-main-wrapper" style="margin-top: 0px !important; padding-top: 0px !important;">
         {% block mainContent %}{% endblock %}
       </main>
     </div>
     {% endblock %}

{% endblock %}
